<div class="panel-body-collapse collapse in">
    <div class="form-group">
        <div class="col-sm-3">
            <select class="form-control btn egz-dropdown" id="egz_dropdown-<%-temp_id%>-<%-temp_index%>">

                <% for (var i=0; i<7; i++) {
                if (i == day_id) { %>
                <option selected data-dgr="<%-days[i].dgr %>"><%-days[i].gun %></option>
                <% } else { %>
                <option data-dgr="<%-days[i].dgr%>"><%-days[i].gun %></option>
                <% }
                }
                %>

            </select>
        </div>
    </div>
    <div class="panel-body ">

        <table class="table table-striped">
            <thead>
            <% if(veri.length == 0) { %>
            <br/><br/>
            <tr>Egzersiz bulunmamaktadır...</tr>
            <% } else { %>
            <tr class="row-mid">
                <th>Egzersiz Adı</th>
                <th>Adet/Set</th>
                <th>Ağırlık</th>
                <th>Makina No</th>
            </tr>
            <% } %>
            </thead>
            <tbody>
            <% for (var i = 0; i < veri.length; i++) { %>
            <tr class="row-mid">
                <td><%- veri[i].egz_ad %></td>
                <td><%- veri[i].adet %></td>
                <td><%- veri[i].agirlik %></td>
                <td><%- veri[i].makina_no %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>