<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                Qui optio nam illo eos officiis possimus exercitationem consequuntur placeat eaque dolorem est sint.
                itaque tempore magni dolorem iste qui. facere pariatur voluptatibus fugit voluptas dicta vero
                consequatur perferendis odio ipsa soluta omnis saepe provident
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="text-center em-background-box-content">
    <h1 class="thin"><%- isim_soyisim %></h1>

    <h4>
        <i class="fa fa-map-marker v-mid fa-lg"></i>
        <span class="thin"><%- salon_adi %></span>
    </h4>
</div>


<div class="hpadded">
    <ul class="nav nav-tabs">
        <li class="active"><a id="egz_pro" data-toggle="tab"><i class="fa fa-comments"></i> Sporcu Egzersiz Programı</a>
        </li>
        <li><a id="egz_pro_gir" data-toggle="tab"><i class="fa fa-tasks"></i> Sporcuya Egzersiz Ata</a></li>
        <li><a id="yap_egz" data-toggle="tab"><i class="fa fa-tasks"></i> Sporcunun Yaptığı Egzersizler</a></li>
        <li><a id="diyet_pro_listele" data-toggle="tab"><i class="fa fa-calendar-o"></i> Sporcunun Diyet Programı</a>
        </li>
        <li><a id="diyet_pro_ata" data-toggle="tab"><i class="fa fa-user"></i> Sporcuya Diyet Programı Ata</a></li>
        <li><a id="sporcu_olcu_listele" data-toggle="tab"><i class="fa fa-calendar-o"></i> Sporcu Ölçüsü</a></li>
        <li><a id="sporcu_olcu_gir" data-toggle="tab"><i class="fa fa-user"></i> Sporcu Ölçüsünü Gir</a></li>
    </ul>
    <div id="dinamik-icerik">

    </div>
    <div>
    </div>
</div>

