<div data-url="panels/panel-body.html" class="panel panel-success gradient-diag1" id="rid0a5949b0e9f2e06afbd43ec07c3d3fc08">  <div class="panel-heading panel-handle panel-colorize">
    <div class="panel-actions pull-right">
        <span class="panel-action panel-info">
          <i class="fa fa-info animated"></i>
        </span>
    </div>
    <div class="panel-title">
      <span class="panel-title-edtitable" data-type="text">
        İLETİŞİM
      </span>
    </div>
</div>
    <div class="panel-body-collapse collapse in">
        <div class="panel-body no-padding-top">
            <h4>Üyelik açma veya program hakkında bilgi almak için lütfen aşağıdaki iletişim kanallarını kullanınız.</h4>
        </div>
        <div class="panel-body no-padding-top">
            <h5>Kadir Yaka</h5><h5>0543 971 65 95</h5><h5>yakakadir@gmail.com</h5>
            <h5><a style="color: blue" href="https://www.facebook.com/kalorimerkezi">Facebook Sayfamız</a></h5>
            <h5><a style="color: blue" href="https://twitter.com/kalorimerkezi">Twitter sayfamız</a></h5>
        </div>
    </div>
</div>