<div class="em-page-center-parent" style="margin-top: 10%">
    <div class="em-page-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

                    <div class="actionable register-div" id="actionable-sign-in">
                        <div class="actionable-front component-shadow">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <img src="static/images/kiraz.png"/>

                                        <h3>
                                            <strong>KALORİ MERKEZİ </strong> <span class="thin"></span>
                                        </h3>
                                    </div>
                                    <div class="text-center">
                                        <h4>
                                            <strong style="color: red">SAYFA BULUNAMADI</strong> <span class="thin"></span>
                                        </h4>
                                    </div>

                                    <div class="padded">
                                        <div class="text-center form-group" id="feedback-panel"></div>

                                        <div class="form-group">
                                            <a href="/#dashboard"><button class="btn btn-success-lt btn-block">Anasayfaya DÖN</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            &copy; 2015 Kalori Merkezi
                        </div>
                        <div class="actionable-back component-shadow bg-white padded">
                            <div class="actionable-contain">
                                <button type="button" class="close pull-right">&times;</button>
                                <br><br>

                                <h1 class="thin text-success text-center actionable-animated-fadeInLeftSmall">
                                </h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>