h4 Merhaba #{name}!
h4 Kalori Merkezine Hoşgeldin
p Sana gönderdiğimiz aşağıdaki linke tıklayarak, üyeliğini aktifleştirebilirsin.
a(href='http://localhost:3000/token/activation/#{activationKey}') Aktifleştirmek için Buraya Tıklayınız <br>
<br>
strong Teşekkürler <br>
strong Kalori Merkezi Ekibi.