h4 Merhaba #{name}!
h4 Kalori Merkezinden Merhaba!
p Sana gönderdiğimiz aşağıdaki linke tıklayarak, şifreni değiştirebilirsin.
a(href='http://178.62.152.217:3000/#sifredegistir/#{activationKey}') Şifre Değişikliği için Buraya Tıklayınız <br>
<br>
strong Teşekkürler <br>
strong Kalori Merkezi Ekibi.