<div class="header">
    <h2><i class="oc-partial-icon icm icm-people"></i> Sporcular</h2>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-0 control-label"><i class="oc-partial-icon icm icm-search5"></i></label>

        <div class="col-sm-3">
            <input maxlength="10" type="text" value="" style="border: 1px solid #3ea1e1" class="form-control" id="ara_input" placeholder="Ad">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            <input type="checkbox" class="checkable-dark" id="checkControl" checked> Sadece Aktif Kullanıcıları Listele
        </div>
        <button class="btn btn-primary-lter" id="sporcu_ara">ARA</button>
    </div>
</div>
<div id="feedback-panel" hidden></div>
<div class="content">

    <table style="border:1px solid #3ea1e1" class="table table-striped" rel="floathead" data-scroll=".oc-scroll" id="users-table">
        <thead>
        <tr class="bg-primary">
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Mail adresi</th>
            <th>Telefon</th>
            <th>Durum</th>
            <th>İşlem</th>
        </tr>
        </thead>
        <tbody>

        <% if (users.length == 0) { %>
        <tr>
            <td colspan="5">Sporcu bulunamamıştır</td>
        </tr>
        <% }
        for(var i=0; i < users.length; i++) {

        %>
        <tr>
            <td data-id="<%- users[i].k_id %>"><%- users[i].isim %></td>
            <td data-id="<%- users[i].k_id %>"><%- users[i].soyisim %></td>
            <td data-id="<%- users[i].k_id %>"><%- users[i].mail %></td>
            <td data-id="<%- users[i].k_id %>"><%- users[i].tel %></td>
            <td data-id="-1">
                <% if(users[i].yetki) { %>
                <select class="btn btn-success dropdown-toggle" style="height: 90%" name="" id="durum_combobox_aktif" veri-id="<%- users[i].k_id %>">
                    <option value="1" selected>Aktif</option>
                    <option value="0">Pasif</option>
                </select>
                <% } else { %>
                <select class="btn btn-danger dropdown-toggle" style="height: 90%" name="" id="durum_combobox_pasif" veri-id="<%- users[i].k_id %>">
                    <option value="1">Aktif</option>
                    <option value="0" selected>Pasif</option>
                </select>
                    <% } %>

            </td>
            <td>
                <button class="btn btn-warning" id="edit-button" veri-id="<%- users[i].k_id %>">Düzenle</button>
                <button class="btn btn-danger" id="delete-button" veri-id="<%- users[i].k_id %>">SİL</button>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>

    <div class="panel-body sayfalama-div">
        <ul class="pagination sayfalama-tr">
            <%
            for (var j=1; j<= page; j++) {
            if (j == currentPage) {
            %>
            <li class="active"><a class="sayfalama-a sayfalama-current" data-page="<%- j %>"><%- j %> <span
                    class="sr-only">(current)</span></a></li>
            <% } else {
            %>
            <li><a class="sayfalama-a" data-page="<%- j %>"><%- j %></a></li>
            <% }
            } %>
        </ul>
    </div>
    <!--
            <div class="sayfalama-div">
                <tr id="b" class="sayfalama-tr">
                    <%
                    for (var j=1; j<= page; j++) {
                    if (j == currentPage) {
                    %> <td><a class="sayfalama-a sayfalama-current" data-page="<%- j %>"><%- j %></a></td> <% } else {
                    %> <td><a class="sayfalama-a" data-page="<%- j %>"><%- j %></a></td>
                    <% }
                    } %>
                </tr>
            </div>
    -->
</div>
