<div class="panel-body-collapse collapse in">
    <div class="panel-body">
        <div class="form-horizontal">
            <label style="text-align: left" class="col-sm-12 control-label">Mail Giriniz</label>
            <div class="form-group">
                <div class="col-sm-12">
                    <input required type="text" class="form-control" id="unut-mail"
                           placeholder="Mail">
                </div>
            </div>
            <div class="text-center form-group col-sm-offset-2 col-sm-12" id="feedback-panel-edit"></div>
        </div>
    </div>
</div>

