<div class="panel-body-collapse collapse in">
    <div class="panel-body">


        <div class="form-horizontal" role="form">
            <form id="olcu_gir_form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Başlık</label>
                <div class="col-sm-3">
                    <input required type="text" value="" class="form-control" id="olcu_baslik" placeholder="Başlık   (örn: Şubat)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Kilo</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_kilo" placeholder="Kilo (kg)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Omuz</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_omuz" placeholder="Omuz (cm)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sağ Pazu</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_sag_pazu" placeholder="Sağ pazu (cm)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sol Pazu</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_sol_pazu" placeholder="Sol pazu (cm)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Göğüs</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_gogus" placeholder="Göğüs (cm)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Karın</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_karin" placeholder="Karın (cm)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Bel</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_bel" placeholder="Bel (cm)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Kalça</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_kalca" placeholder="Kalça (cm)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sağ Bacak</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_sag_bacak" placeholder="Sağ Bacak (cm)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sol Bacak</label>
                <div class="col-sm-3">
                    <input required max="999" type="number" value="" class="form-control" id="olcu_sol_bacak" placeholder="Sol Bacak (cm)">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default" id="olcu_gir_kaydet">Kaydet</button>
                </div>
            </div>
                <div  class="text-center form-group col-sm-offset-2 col-sm-5" id="feedback-panel"></div>
            </form>
        </div>
    </div>
</div>

