


                    <div class="actionable" style="width: 50%;margin-left:20%; margin-top: 7%" id="actionable-sign-up">
                        <div class="actionable-front component-shadow">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <img src="static/images/kiraz.png" />
                                        <h3>
                                            <strong></strong> <span class="thin">KULLANICI KAYIT</span>
                                        </h3>
                                    </div>

                                    <div  class="text-center form-group" id="feedback-panel"></div>

                                    <div class="padded">
                                        <form action="" id="form-sign-up-demo">

                                            <div class="form-group">
                                                <input id="name" type="text" class="form-control" placeholder="İsim" rel="jvfloat">
                                            </div>
                                            <div class="form-group">
                                                <input id="surname" type="text" class="form-control" placeholder="Soyisim" rel="jvfloat">
                                            </div>
                                            <div class="form-group">
                                                <input id="mail" type="text" class="form-control" placeholder="Mail" rel="jvfloat">
                                            </div>
                                            <div class="form-group">
                                                <input id="tel" type="text" class="form-control" placeholder="Telefon" rel="jvfloat">
                                            </div>
                                            <div class="form-group">
                                                <input id="password" type="password" class="form-control" placeholder="Şifre" rel="jvfloat">
                                            </div>
                                            <div class="form-group">
                                                <input id="password2" type="password" class="form-control" placeholder="Şifre tekrar" rel="jvfloat">
                                            </div>
                                            <div class="form-group actions" >
                                                <a class="btn btn-success-lt btn-block actionable-action" name="commit" id="register_ok">Kayıt</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="actionable-back component-shadow bg-white padded">
                            <div class="actionable-contain">
                                <button type="button" class="close pull-right">&times;</button>
                                <br><br>
                                <h1 class="thin text-success text-center actionable-animated-fadeInLeftSmall">
                                    Success!
                                </h1>
                                <br><br>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active"
                                         style="width: 100%">
                                    </div>
                                </div>
                                <br><br>
                                <p class="text-center actionable-animated-fadeInRightSmall">
                                    Redirecting to your dashboard...
                                </p>
                            </div>
                        </div>
                    </div>
