
    <table class="table table-striped" rel="floathead" data-scroll=".oc-scroll"  id="users-table">
        <thead>
        <tr class="bg-primary">
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Mail adresi</th>
            <th>Telefon</th>
            <th>Durum</th>
        </tr>
        </thead>
        <tbody>

        <% if (users.length == 0) { %>
        <tr><td colspan="5">Kullanıcı bulunamamıştır</td></tr>
        <% }
        for(var i=0; i < users.length; i++) {

        %><tr data-id="<%- users[i].k_id %>">
            <td data-id="<%- users[i].k_id %>"><%- users[i].isim %></td>
            <td data-id="<%- users[i].k_id %>"><%- users[i].soyisim %></td>
            <td data-id="<%- users[i].k_id %>"><%- users[i].mail %></td>
            <td data-id="<%- users[i].k_id %>"><%- users[i].tel %></td>
            <td data-id="-1">
                <select class="form-control"  name="" id="durum_combobox" veri-id="<%- users[i].k_id %>">
                    <% if(users[i].yetki) { %>
                    <option value="1" selected>Aktif</option>
                    <option value="0">Pasif</option>
                    <% } else { %>
                    <option value="1">Aktif</option>
                    <option value="0" selected>Pasif</option>
                    <% } %>
                </select>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>

<div class="sayfalama-div">
    <tr id="b" class="sayfalama-tr">
        <%
        for (var j=1; j<= page; j++) {
        if (j == currentPage) {
        %> <td><a class="sayfalama-a sayfalama-current" data-page="<%- j %>"><%- j %></a></td> <% } else {
        %> <td><a class="sayfalama-a" data-page="<%- j %>"><%- j %></a></td>
        <% }
        } %>
    </tr>
</div>