<div class="form-group">
    <div style="color: blue" class="col-sm-3 control-label">
        Eklenen Program : <%- egz_ad %>
    </div>
</div>
<div id="day_list_div" class="form-group">
    <label style="color: red" class="col-sm-3 control-label"> Lütfen Şablonun Eklemek istediğiniz Gününü Seçiniz</label>

    <div class="col-sm-3">
        <select class="form-control" id="dayList">
            <% for (var i=1; i<8; i++) {
            console.log("i : " + i + " selected_day : " + selected_day);
            var deger = i - 1;
            if (i == selected_day) { %>
            <option selected data-dgr="<%-days[deger].dgr %>"><%-days[deger].gun %></option>
            <% } else { %>
            <option data-dgr="<%-days[deger].dgr%>"><%-days[deger].gun %></option>
            <% }
            }
            %>
        </select>
    </div>
</div>
<div class="panel-body-collapse collapse in">
    <div class="panel-body ">

        <table class="table table-striped">
            <thead>
            <% if(veri.length == 0) { %>
            <tr>Egzersiz bulunmamaktadır...</tr>
            <% } else { %>
            <tr class="row-mid">
                <th>Egzersiz Adı</th>
                <th>Adet/Set</th>
                <th>Ağırlık</th>
                <th>Makina No</th>
                <th>İşlem</th>
            </tr>
            <% } %>
            </thead>
            <tbody>
            <% for (var i = 0; i < veri.length; i++) { %>
            <tr class="row-mid">
                <td><%- veri[i].egz_ad %></td>
                <td><%- veri[i].adet %></td>
                <td><%- veri[i].agirlik %></td>
                <td><%- veri[i].makina_no %></td>
                <td>
                    <button id="egz-sil" data-dgr="<%- veri[i].id %>">SİL</button>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>