<div class="panel-body-collapse collapse in">
    <div class="panel-body">
        <div class="form-horizontal">
            <!-- eski ve yeni butonlar -->

            <div class="col-sm-6 turbo-toggle tercih-butonlari" id="diyet-template-yeni">
                <div class="tile-normal bg-success gradient-diag1">
                    <div class="panel-heading">
                        <i class="oc-partial-icon icm icm-apple-fruit"> </i>
                        <i  class="oc-partial-icon icm icm-plus-circle"> </i>
                    </div>
                    <div class="panel-heading">
                        <div class="panel-title"><h3>YENİ DİYET OLUŞTUR</h3></div>
                    </div>
                    <div class="panel-body">
                        <table class="table-full push-bottom">
                            <tr>
                                <td>
                                    <h5 class="base-header major">Buradan yeni diyet şablonlarınızı
                                        oluşturabilirsiniz</h5>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 turbo-toggle tercih-butonlari" id="diyet-template-eski">
                <div class="tile-normal bg-info gradient-diag1">
                    <div class="panel-heading">
                        <i class="oc-partial-icon icm icm-apple-fruit"> </i>
                        <i class="oc-partial-icon icm icm-wrench3"> </i>
                    </div>
                    <div class="panel-heading">
                        <div class="panel-title"><h3>ESKİ DİYETİ DÜZENLE</h3></div>
                    </div>
                    <div class="panel-body">
                        <table class="table-full push-bottom">
                            <tr>
                                <td>
                                    <h5 class="base-header major">Buradan Geçmiş diyet şablonlarınızı
                                        düzenleyebilirsiniz</h5>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- eski ve yeni butonlar -->


            <!-- yeni - baslik  -->
            <div id="yeni-sablon-baslik">
                <div class="form-group">
                    <label class="col-sm-1 control-label">Başlık Giriniz</label>

                    <div class="col-sm-3">
                        <input maxlength="200" required type="text" value="" class="form-control" id="template_baslik"
                               placeholder="Başlık   (örn: Zayıflama Programı)">
                    </div>
                </div>
            </div>
            <!-- yeni - baslik  -->

            <!-- eskiyi düzenlemek isterse -> dropdown -->
            <div id="eski-sablonlar">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Program Seçiniz</label>

                    <div class="col-sm-3">
                        <select style="height: 35px;" class="btn btn-primary dropdown-toggle" id="diyet-temp-list">
                            <% for (var i = 0; i < veri.length; i++) { %>
                            <option data-dgr="<%- veri[i].temp_id %>"><%- veri[i].temp_adi %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success" id="diyet-template-getir">GETİR</button>
                    </div>
                </div>
            </div>
            <!-- eski -> dropdown -->
            <div id="diyet-ekleme-listesi">
                <div class="text-center form-group col-sm-offset-2 col-sm-5" id="diyet-feedback-panel"></div>
                <br/>

                <div class="panel-body-collapse collapse in">
                    <div class="panel-body " style="float: left;">

                        <textarea style="resize:none" name="" id="diyet-text-area" cols=100" rows="20" maxlength="5"
                                  placeholder="Diyet Listesini Yazınız"></textarea>
                        <br/><br/>
                        <button class="btn btn-success-lt" id="diyet-kaydet-button">KAYDET</button>
                    </div>
                </div>
            </div>
            <div id="yeni-diyet-list">

            </div>
        </div>
    </div>
</div>

<div id="diyet-data-list">

</div>