html { overflow-y:scroll; }
.navbar {
	background-color: white;
}

.icon {
	width: 30px;
	height: 30px;
}

.oc-sidebar-content {
	background-color: #43494d;
}

body {
	background-color: white;
}

ul { list-style: none;}

.menu {
	cursor: pointer;
}

a {
	cursor: pointer;
}

.col-md-8 {
	border-radius: 2px;
	height: 600px;
}



.egzersiz-kayit-div {
    margin-top: 15px;
    color: #ffffff;
    background-color: #34495e;
}

.table-line-row:hover {
    cursor:pointer;
    background-color: rgb(189, 195, 199);
}

.content tr:hover {
    cursor: pointer;
    background-color: rgb(189, 195, 199);
}

#olculer-table tbody tr:hover {
    background-color: rgb(189, 195, 199);
    cursor: default;
}

#users-table thead tr:hover {

    background-color: #428bca;
}

.register-div input {
    border: 1px solid #ededed;
}

.register-div input:hover {
    border: 1px solid #22ba93;
}

.register-div input:focus {
    border: 3px solid #22ba93;
}

.egz-hazirla input {
    border: 1px solid #1abc9c;
}